<ul class="venues">
  {{#each venue in arrangedContent}}
    <li class="venue" {{bind-attr class="venue.review:reviewed venue.showDetails:selected"}}>
      {{#link-to "venue" venue action="toggleVenue" actionParam=venue}}
        <img {{bind-attr src=venue.image}} class="thumbnail"/>
      {{/link-to}}

      <div class="details">
        <h3 class="name">{{venue.name}}</h3>

        <div class="review">{{venue.review}}</div>

        <ul class="links">
          {{#if venue.mapLink}}
            <li class="map_link">{{venue.mapLink}}</li>
          {{/if}}

          {{#if venue.imageLink}}
            <li class="image_link"><a {{bind-attr href=venue.imageLink}}>Instagram</a></li>
          {{/if}}
        </ul>

      </div>

      <ul class="ratings">
        <li title="Food" {{bind-attr class=":rating venue.ratings.food::unknown"}}>{{venue.ratings.food}}</li>
        <li title="Service" {{bind-attr class=":rating venue.ratings.service::unknown"}}>{{venue.ratings.service}}</li>
        <li title="Atmosphere" {{bind-attr class=":rating venue.ratings.atmosphere::unknown"}}>{{venue.ratings.atmosphere}}</li>
        <li title="Uniqueness" {{bind-attr class=":rating venue.ratings.uniqueness::unknown"}}>{{venue.ratings.uniqueness}}</li>
        <li title="Bathroom" {{bind-attr class=":rating venue.ratings.bathroom::unknown"}}>{{venue.ratings.bathroom}}</li>
      </ul>
    </li>
  {{/each}}
</ul>
