<ul class="venues">
  {{#each arrangedContent}}
    <li class="venue" {{bind-attr class="review:reviewed showDetails:selected"}}>
      {{#link-to "venue" this classNameBindings=":card" action="toggleVenue" actionParam=this}}
        <img {{bind-attr src=image}} class="thumbnail"/>
        <h3 class="name">{{name}}</h3>
      {{/link-to}}

      <div class="details">
        <div class="review">
          {{#if review}}
            {{review}}
          {{else}}
            No review yet.
          {{/if}}
        </div>

        <ul class="links">
          {{#if mapLink}}
            <li class="map_link">{{mapLink}}</li>
          {{/if}}

          {{#if imageLink}}
            <li class="image_link"><a {{bind-attr href=imageLink}}>Instagram</a></li>
          {{/if}}
        </ul>

      </div>

      <ul class="ratings">
        <li title="Food" {{bind-attr class=":rating ratings.food::unknown"}}>{{ratings.food}}</li>
        <li title="Service" {{bind-attr class=":rating ratings.service::unknown"}}>{{ratings.service}}</li>
        <li title="Atmosphere" {{bind-attr class=":rating ratings.atmosphere::unknown"}}>{{ratings.atmosphere}}</li>
        <li title="Uniqueness" {{bind-attr class=":rating ratings.uniqueness::unknown"}}>{{ratings.uniqueness}}</li>
        <li title="Bathroom" {{bind-attr class=":rating ratings.bathroom::unknown"}}>{{ratings.bathroom}}</li>
      </ul>
    </li>
  {{/each}}
</ul>
